<!-- if the user has javascript disabled they can still use the menu -->
<noscript>
    <nav class="no-js-menu">
        <ul>
            <li><i class="fa fa-home"></i><%= link_to "Home", root_path %></li>
            <li><i class="fa fa-user"></i><a href="#">John Smith</a></li>
            <li><i class="fa fa-anchor"></i><a href="#">About</a></li>
            <li><i class="fa fa-star"></i><a href="#">Favorites</a></li>
            <li><i class="fa fa-paper-plane"></i><a href="#">Contact</a></li>
            <li><i class="fa fa-file"></i><a href="#">Post Page</a></li>
            <li><i class="fa fa-file"></i><a href="#">Post with Sidebar</a></li>
            <li><i class="fa fa-home"></i><a href="#">Alternate Home</a></li>
            <li><i class="fa fa-image"></i><a href="#">Category Page</a></li>
        </ul>
    </nav>
</noscript>
<!-- end no script -->