<%= render "layouts/js_main_nav" %>

<section class="sidebar col-md-5 col-sm-12" style="background-image: url(<%= path_to_image("default-sidebar.jpg")%>">

    <span class="menu-trigger animated fadeInDown">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </span>

    <%= render "layouts/site_info" %>
</section><!-- end sidebar -->