<div class="site-info">
    <div class="primary-info">
        <h1>Mark Hoad</h1>
        <p>
            A blog covering my journey as a digital nomad, running a small 
            marketing agency and launching a SaaS business.
        </p>

        <p><strong>Current Location:</strong> Manchester, UK</p>
    </div>
    <div class="secondary-info">
        <p>
            <a class="btn btn-primary" href="#"><i class="fa fa-user-plus"></i>Get notified of new posts</a>
        </p>
    </div>
</div>