<div class="site-info">
  <div class="primary-info">
    <% if content_for? :sidebar_title %>
      <h1><%= yield :sidebar_title %></h1>
    <% end %>
    <% if content_for? :sidebar_description %>
      <p><%= yield :sidebar_description %></p>
    <% end %>

    <p><strong>Current Location:</strong> Manchester, UK</p>
    </div>
    <div class="secondary-info">
        <p>
            <a class="btn btn-primary" href="#"><i class="fa fa-user-plus"></i>Get notified of new posts</a>
        </p>
    </div>
</div>